@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Montserrat", sans-serif;
    /* font-weight: 600; */
    /* background: #e2f2e8; */
  }
  .z-TOP {
    z-index: 9998;
  }
  .z-TOP1 {
    z-index: 9997;
  }
  .LogoFont {
    font-family: "Pacifico", cursive;
  }
  .btnNextUi {
    /* background: #ccc; */
    opacity: 0.8;
    color: black;
    border: 1px solid grey;
  }
  .itemOverlay {
    background: linear-gradient(transparent 0%, #e2e8f0 150%);
  }
  .bgPattern {
    background-color: #fff;
    /* opacity: 0.5; */
    background-image: radial-gradient(#000000 0.5px, transparent 0.5px),
      radial-gradient(#000000 0.5px, #fff 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
  }
  .hide-scrollbar::-webkit-scrollbar {
    width: 0em;
  }

  .hide-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: black;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px; /* increase the width */
    border-radius: 20px;
  }

  *::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
    border: 1px solid black;
    opacity: 0.3;
  }
}
@layer utilities {
  .touch-none {
    touch-action: none;
  }
}
.nextui-c-clSMyX {
  /* --nextui--dropdownItemHeight: var(--nextui-space-13);
  --nextui--dropdownMenuPadding: var(--nextui-space-4); */
  /* --nextui--dropdownMenuWidth: 250px; */
  --nextui--dropdownMenuMinWidth: 350px;
  /* list-style: none;
  position: relative;
  max-width: var(--nextui--dropdownMenuWidth);
  min-width: var(--nextui--dropdownMenuMinWidth);
  width: 100%;
  padding: var(--nextui--dropdownMenuPadding);
  margin: 0px;
  outline: none; */
}
